{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 80px; /* Same as the height of the footer */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
</style>
  <script>
    $(document).ready(function() {
      var placeholderWidth = $('#room-name').width();
      $('.search-button').width(placeholderWidth);
    });

    let isAscending = true; // Default sort order

    function toggleSortByCapacity() {
      isAscending = !isAscending;
      sortTableByCapacity();
    }

    function sortTableByCapacity() {
      let table = document.getElementById("room-table");
      let rows = Array.from(table.getElementsByTagName("tr"));
      rows.shift(); // Remove the header row from the sorting
      rows.sort((a, b) => {
        let capacityA = parseInt(a.cells[2].textContent);
        let capacityB = parseInt(b.cells[2].textContent);
        return isAscending ? capacityA - capacityB : capacityB - capacityA;
      });
      rows.forEach((row) => table.appendChild(row));
    }

  </script>
</head>
<body>


<!-- Nav -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #195AC0; height: 80px;">
  <a class="navbar-brand mr-auto" href="http://127.0.0.1:8000/"></a>
  <div class="mx-auto">
    <a class="navbar-brand" href="http://127.0.0.1:8000/" style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 30px; font-weight: lighter; letter-spacing: 1px; text-decoration: none; color: white;">
      Room Booking System
    </a>
<span id="current-date" style="font-size: 18px; color: white;"></span>
<span id="current-time" style="font-size: 18px; color: white;"></span>

<script>
  function updateDateTime() {
    var currentDateTime = new Date();
    var formattedDate = formatDate(currentDateTime);
    var formattedTime = formatTime(currentDateTime);

    var dateTimeString = formattedDate + ", " + formattedTime;

    document.getElementById("current-date").innerText = dateTimeString;
  }

  function formatDate(date) {
    var options = { day: 'numeric', month: 'long', year: 'numeric' };
    return date.toLocaleDateString(undefined, options);
  }

  function formatTime(date) {
    var options = { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false };
    return date.toLocaleTimeString(undefined, options);
  }

  setInterval(updateDateTime, 1000);

  updateDateTime();
</script>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" href="http://127.0.0.1:8000/">
        <button class="btn btn-primary" style="border: 1px outset white;">Room list</button>
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="/room/new/">
        <button class="btn btn-primary" style="border: 1px outset white;">Add a room</button>
      </a>
    </div>
  </div>
</nav>


<!-- Nav -->


<!-- table -->

<div style="margin: 0 100px;">
  <table class="table" id="room-table">
    <thead>
      <tr class="d-flex">
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-2">Room name</th>
<th scope="col" class="col-1">
  <div style="display: flex; align-items: center;">
    <div class="sort-buttons" style="display: flex; flex-direction: column; margin-right: 5px;">
      <button class="btn btn-sm btn-sort" style="padding: 0; background: transparent; border: none; color: #6c757d;" onclick="toggleSortByCapacity()">
        <span class="sort-icon" style="font-size: 1rem;">&#x25B2;</span>
      </button>
      <button class="btn btn-sm btn-sort" style="padding: 0; background: transparent; border: none; color: #6c757d;" onclick="toggleSortByCapacity()">
        <span class="sort-icon" style="font-size: 1rem;">&#x25BC;</span>
      </button>
    </div>
    <span>Room capacity</span>
  </div>
</th>
        <th scope="col" class="col-2">Room availability</th>
        <th scope="col" class="col-2">Projector availability</th>
        <th scope="col" class="col-1">Room rating</th>
        <th scope="col" class="col-3" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
      <tr class="d-flex">
        <th scope="row" class="col-1">{{ forloop.counter }}</th>
        <td class="col-2">
          <a href="/room/{{ room.id }}/">{{ room.name }}</a>
        </td>
        <td class="col-1">{{ room.capacity }}</td>
        {% if room.reserved %}
          <td class="col-2" style="color:red;">Booked</td>
        {% else %}
          <td class="col-2" style="color:green;">Available</td>
        {% endif %}
        {% if room.projector_availability %}
          <td class="col-2" style="color:green;">&#10004;</td>
        {% else %}
          <td class="col-2" style="color:red;">&#10060;</td>
        {% endif %}
        <td class="col-1">{{ room.rating }}</td>
        <td class="col-3">
          <div class="btn-group" role="group" aria-label="">
            <a href="/room/modify/{{ room.id }}/" class="btn btn-primary">Edit</a>
            <a href="/room/delete/{{ room.id }}/" onclick="return confirm('Are you sure you want to delete this room?');" class="btn btn-danger">Delete</a>
            <a href="/room/reserve/{{ room.id }}/" class="btn btn-success">Book</a>
          </div>
        </td>
      </tr>
      {% empty %}
        <tr><td colspan="7">No rooms are available at the moment.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<!-- table -->
<br>
<!-- Form -->
<div style="margin: 0 100px;">
<h3 style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 24px; font-weight: lighter; letter-spacing: 1px; margin-left: 20px;">Search</h3>

<div class="card">
  <div class="card-body">
    <form action="/search" method="GET">
      {% csrf_token %}
      <div class="form-group">
        <label for="room-name">Room name:</label>
        <input type="text" class="form-control" id="room-name" aria-describedby="room-name-help" placeholder="Enter room name here" name="room-name">
      </div>
      <div class="form-group">
        <label for="capacity">Room capacity:</label>
        <input type="number" step="1" class="form-control" id="capacity" placeholder="0" name="capacity" min="0" max="1000000">
      </div>
      <div class="form-group">
        <label for="reservation-date">Booking date:</label>
        <input type="date" id="reservation-date" name="reservation-date" min="{{ date }}" max="9999-12-31" class="form-control">
      </div>
       <div class="form-check">
          <input type="checkbox" class="form-check-input" name="projector" id="projector">
          <label class="form-check-label" for="projector">Projector availability</label>
      </div>
      <button type="submit" class="btn btn-primary search-button" style="border: 3px ridge white;">Search</button>
    </form>
  </div>
</div>
    </div>

<!-- Form -->

<!-- Footer -->

<footer class="footer" style="background-color: #195AC0;">
  <div class="container">
    <span class="text-muted" style="color: white;"><span style="color: white;">Created by:iam.konrad 2023 </span></span>
  </div>
</footer>
<!-- Footer -->
</body>
</html>