<style>
    ul.nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333;
    }

    li.nav {
        /* Remove 'float: left;' */
        border-right: 1px solid #bbb;
        flex-grow: 1;
    }

    li:last-child {
        border-right: none;
    }

    li.nav a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        padding: 14px 16px;
    }

    li.nav a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #04AA6D;
    }

</style>
